
h1,h2,h3,h4,h5,h6{
    font-family: 'Geogrotesque';
}
.vt-bg-overly,
.vt-bg-overly-2,
.vt-bg-overly-3,
.vt-bg-overly-4, 
.vt-bg-overly-5,
.vt-bg-overly-6,
.vt-gradient-overly,
.vt-gradient-overly-2,
.vt-gradient-overly-3{
    position: relative;
}
.vt-bg-overly::before,
.vt-bg-overly-2::before,
.vt-bg-overly-3::before,
.vt-bg-overly-4::before,
.vt-bg-overly-5::before,
.vt-bg-overly-6::before,
.vt-gradient-overly::before,
.vt-gradient-overly-2::before,
.vt-gradient-overly-3::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    opacity: 31%;
}
.vt-bg-overly-2::before{
    background: #3B2F2F;
    opacity: 90%;
    border-radius: 8px;
}
.vt-bg-overly-3::before{
    background: #1D1005E8;
    opacity: 91%;
    border-radius: 24px;
}
.vt-bg-overly-4::before{
    background: #332010;
    opacity: 91%;
    border-radius: 24px;
}
.vt-bg-overly-5::before{
    background: #3B2F2F;
    border-radius: 8px;
    opacity: 1;
}
.vt-bg-overly-6::before{
    background: rgba(54, 42, 42, 0.93);
    opacity: 1;
}
.vt-gradient-overly::before{
    background: linear-gradient(to right, rgba(59, 47, 47, 0.58), rgba(100, 61, 28, 0.8));
    opacity: 1;    
}
.vt-gradient-overly-2::before{
    background: linear-gradient(to right, rgba(111, 81, 56, 1), rgba(255, 255, 255, 0));
    opacity: 1; 
    border-radius: 8px;
}
.vt-gradient-overly-3::before{
    background: linear-gradient(to right, rgba(176, 24, 42, 1), rgba(255, 255, 255, 0));
    opacity: 1; 
    border-radius: 8px;
}
.vt-gradient-bg{
    background: linear-gradient(180deg, rgba(253, 249, 243, 0.91) 0%, rgba(253, 249, 243, 0.91) 100%);

}
/* custom-border-color */
.vt-border-bottom{
    border-bottom: 1px solid rgba(111, 81, 56, 0.4);
}
.vt-border-bottom-2{
    border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}
/* vt-custom-shadow */
.vt-custom-shadow{
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.15);
}
.vt-custom-shadow-2{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.13);
}
.subscribe input::placeholder{
    color: white;
}
/* input-rado */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #6F5138;
    border-radius: 100%;
    background: #fff;
    transform: translateY(-50%);
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #FF8C42;
    position: absolute;
    top: 50%;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    transform: translateY(-50%);
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
[type="radio"]:checked + label:after {
    opacity: 1;
}

/* accordion */
.accordion{
    background: rgba(255, 255, 255, 0.8);
}
.accordion-two{
  background: none;
}
.menu-button {
    width: 100%;
    /* padding: 32px 56px;
    margin-top: 2px;
    font-size: 18px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
   .menu-button{
        font-size: 14px;
        text-align: left;
        padding: 20px 10px !important;
   }
   .content p{
        padding:0px 10px !important;
    }
}
.accordion-two .menu-button{
  padding: 5px 0;
}
.plus {
    font-size: 20px;
    color: #6F5138;
    transition: 0.4s;
}
.minus{
    font-size: 20px;
    color: #6F5138;
    transition: 0.4s;
    display: none;
}
.chevron-down{
  font-size: 20px;
  transform: rotate(-90deg);
  transition: 0.4s;
}
.menu-button.open .chevron-down{
  transform: rotate(0deg);
}
.menu-button.open .plus {
/* transform: rotate(45deg); */
    display: none;
}
.menu-button.open .minus {
/* transform: rotate(45deg); */
    display: block;
}
.accordion-item{
    position: relative;
    z-index: 999;
}
.content {
    transition: 0.4s;
    height: 0;
    overflow: hidden;
}
.content p{
    margin-bottom: 20px;
    padding: 0 56px;
}
.accordion-two .content p{
  padding: 0;
}
.accordion-two .content{
  height: 0;
  transition: 0.4s;
}
.accordion-two .content.open{
  height: auto;
}
.accordion .accordion-item:not(:last-child){
    border-bottom: 1px solid #6F5138;
}
.accordion-two .accordion-item{
  border-bottom: 1px solid rgba(111, 81, 56, 0.4) !important;
}

/* mobil-menu-start */
/* main-menu css*/
.main-menu ul li .tp-submenu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 250%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.main-menu ul li:hover > .tp-submenu{
    opacity: 1;
    visibility: visible;
    top: 220%;
}

  /*----------------------------------------*/
/* 6.2 Mobile css
/*----------------------------------------*/
.tp-offcanvas-menu {
    margin-bottom: 40px;
  }
  .tp-offcanvas-menu ul {
    list-style: none;
  }
  .tp-offcanvas-menu ul li {
    position: relative !important;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .tp-offcanvas-menu ul li a i {
      display: none;
    }
  }
  .tp-offcanvas-menu ul li > a {
    padding: 8px 0;
    display: block;
    font-size: 15px;
    font-weight: 500;
  }
  .tp-offcanvas-menu ul li:not(:last-child) > a {
    border-bottom: 1px solid rgba(1, 15, 28, 0.1);
  }
  .tp-offcanvas-menu ul li .tp-megamenu-list ul li a {
    border-bottom: 1px solid rgba(1, 15, 28, 0.1);
  }
  .tp-offcanvas-menu ul li:hover > a {
    color: #FF8C42;
  }
  .tp-offcanvas-menu ul li.active > a {
    color: #FF8C42;
  }
  .tp-offcanvas-menu ul li.active > .tp-menu-close {
    color:white;
    background: #FF8C42;
    border-color: #FF8C42;
  }
  .tp-offcanvas-menu ul li.active > button.tp-menu-close i {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: white;
  }
  .tp-offcanvas-menu ul li .tp-submenu {
    display: none;
    padding-left: 20px;
  }
  .tp-offcanvas-menu ul li .tp-mega-menu {
    display: none;
    padding-left: 0;
    margin-top: -1px;
  }
  .tp-offcanvas-menu .homemenu-title {
    margin-bottom: 25px;
  }
  .tp-offcanvas-style-2 .tp-offcanvas-menu ul li > a {
    color: #222222;
  }
  .tp-offcanvas-style-2 .tp-offcanvas-menu ul li:hover > a {
    color: var(--tp-theme-primary);
  }
  .tp-offcanvas-style-2 .tp-offcanvas-menu ul li.active > a {
    color: var(--tp-theme-primary);
  }
  /* .tp-offcanvas-style-2 .tp-offcanvas-menu ul li.active > .tp-menu-close {
    color: red;
    background: green;
    border-color:blue;
  } */
  .tp-menu-close {
    position: absolute;
    right: 0;
    top: 4px;
    height: 30px;
    width: 30px;
    font-size: 12px;
    line-height: 29px;
    text-align: center;
    border: 1px solid rgba(1, 15, 28, 0.12);
    z-index: 99999999;
  }
  .tp-menu-close i {
    display: inline-block;
    transition: all 0.3s;
  }
/*----------------------------------------*/
  /* 6.3 offcanvas css
/*----------------------------------------*/
.body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.45s ease-in-out;
  background: rgba(24, 24, 24, 0.4);
}
.body-overlay.opened {
  opacity: 1;
  visibility: visible;
}

.tp-offcanvas-logo {
  width: 150px;
}
.tp-offcanvas-logo img {
  width: 100%;
}
/* to open offcanvas menu left to right */
.tp-offcanvas-area.left-right{
  left: 0;
  right: inherit;
  transform: translateX(calc(-200% + 80px));
}
/* to open offcanvas menu right to left */
.tp-offcanvas-area{
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  z-index: 99;
  z-index: 99999;
  padding: 50px 50px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  background: #FFF;
  overscroll-behavior-y: contain;
   -webkit-transform: translateX(calc(100% + 80px));
  -moz-transform: translateX(calc(100% + 80px));
  -ms-transform: translateX(calc(100% + 80px));
  -o-transform: translateX(calc(100% + 80px));
  transform: translateX(calc(100% + 80px));
  transition: all 0.3s 0s ease-out;
  z-index: 9999999999;
}
@media only screen and (max-width: 400px) {
  .tp-offcanvas-area {
    padding: 35px 30px;
  }
}
@media (max-width: 575px) {
  .tp-offcanvas-area {
    width: 100%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tp-offcanvas-area {
    width: 450px;
  }
}
.tp-offcanvas-area.opened {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.tp-offcanvas-area.left-right.opened {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.tp-offcanvas-top {
  margin-bottom: 60px;
}
.tp-offcanvas-close-btn {
  color: #222222;
  transform: rotate(0deg);
  transition: .3s;
}
.tp-offcanvas-close-btn:hover {
  opacity: 1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.tp-offcanvas-content {
  margin-bottom: 45px;
}
.tp-offcanvas-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}
.tp-offcanvas-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.8px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #222222;
}
.tp-offcanvas-title.sm {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #222222;
}
.tp-offcanvas-gallery {
  margin-bottom: 65px;
}
.tp-offcanvas-contact {
  margin-bottom: 55px;
}
.tp-offcanvas-contact ul li {
  list-style: none;
}
.tp-offcanvas-contact ul li:not(:last-child) {
  margin-bottom: 2px;
}
.tp-offcanvas-contact ul li a {
  display: inline-block;
  color: #717171;
  font-size: 18px;
  position: relative;
}
.tp-offcanvas-contact ul li a::after {
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 0;
  height: 1px;
  content: "";
  transition: 0.4s;
  background-color: #FF8C42;
}
.tp-offcanvas-contact ul li a:hover {
  color: #FF8C42;
}
.tp-offcanvas-contact ul li a:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
/* mobile-menu-end */

/* .menu-fixed-top */
.menu-fixed {
    position: fixed !important;
    top: 0 !important;
    left: 0;
    width: 100%;
    z-index: 99999 !important;
    transition: all 0.9s;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 62px 0px rgba(0, 22, 89, 0.17);
}
/* .scroll-up-bottom-to-top */
.scroll-up {
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inherit !important;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    transition: all 200ms linear;
}
.scroll-up::after {
    position: absolute;
    font-family: 'FinestIcon';
    content: "\e934";
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    font-size: 26px;
    color: #FF8C42;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    transition: all 200ms linear;
}
.scroll-up.active-scroll {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.scroll-up svg path {
    fill: none;
}
.scroll-up svg.scroll-circle path {
    stroke: #FF8C42 !important;
    stroke-width: 4px;
    box-sizing: border-box;
    transition: all 200ms linear;
}
/* .scroll-up-bottom-to-top-end*/
  
